//
//  HelperToolConfig.xcconfig
//  SwiftAuthorizationSample
//
//  Created by Josh Kaplan on 2021-10-23
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config.xcconfig"

// There should not be a need to modify anything in this configuration file

// The helper tool's filename must match its bundle identifier to satisfy SMJobBless requirements
PRODUCT_BUNDLE_IDENTIFIER = $(HELPER_TOOL_BUNDLE_IDENTIFIER)
TARGET_NAME = $(HELPER_TOOL_BUNDLE_IDENTIFIER)
PRODUCT_NAME = $(HELPER_TOOL_BUNDLE_IDENTIFIER)

// Info property list
INFOPLIST_FILE = $(HELPER_TOOL_TARGET_DIRECTORY)/Info.plist
LAUNCHDPLIST_FILE = $(HELPER_TOOL_TARGET_DIRECTORY)/launchd.plist
// Inlines the property list files into the helper tool's binary.
// Note that CREATE_INFOPLIST_SECTION_IN_BINARY = YES can't be used to inline the info property list because this step
// occurs immediately *before* any scripts are run, preventing the property list from being modified
OTHER_LDFLAGS = -sectcreate __TEXT __info_plist $(INFOPLIST_FILE) -sectcreate __TEXT __launchd_plist $(LAUNCHDPLIST_FILE)
